
body { background: #FFFFF; }

#carousel {
  position: relative;
  width: 60%;
  margin: 0 auto;
}

#slides {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 250px;
  float:left;
  
}

#slides ul {
  list-style: none;
  width: 100%;
  height: 250px;
  margin: 0;
  padding: 0;
  position: relative;
}

#slides li {
  width: 100%;
  height: 250px;
  float: left;
  text-align: center;
  position: relative;
  font-family: lato, sans-serif;
}

/* Styling for prev and next buttons */

.btn-bar {
  width: 60%;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 20px;
}

#buttons {
  /*padding: 0 110px 5px 0;
  float: right;*/
  float:left; display:block; width:50%; margin-left:25%;  text-align:center;
}

#buttons a {
  text-align: center;
  display: block;
  font-size: 50px;
  float: left;
  outline: 0;
  color: #45a593;
  text-decoration: none;
  display: block;
  padding: 9px;
  width: 35px;
}
#buttons a#next{ float:right;}
a#prev:hover,
a#next:hover {
  color: #FFF;
  text-shadow: .5px 0px #45a593;
}

.quote-phrase,
.quote-author {
  font-family: sans-serif;
  font-weight: 300;
  display: table-cell;
  vertical-align: middle;
  padding: 5px 20px;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

.quote-phrase {
  height: 200px;
  font-size: 24px;
  color:black;
  font-style: italic;
  text-shadow: .5px 0px #45a593;
}

.quote-marks {
  font-size: 30px;
  padding: 0 3px 3px;
  position: inherit;
}

.quote-author {
  font-style: normal;
  font-size: 20px;
  color: #45a593;
  font-weight: 400;
  height: 30px;
}

.quoteContainer,
.authorContainer {
  display: table;
  width: 100%;
}
.header-tel {
  float: right;
  color: #090909;
  line-height: normal;
  margin-top: -63px;
  margin-right: -175px;
  text-align: right;
}
